body {
	background-color: #001;
	background-image: url("../images/bgfull.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Helvetica", "arial," sans-serif;	
}

.btn-default {
	border-color: #ffffb3;
	border-radius: 0;
	background: #ff0000;
	color: white;
	margin: 10px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #ff0000;
    background: #ffffb3;
    border-color: #white; /*set the color you want here*/
}

.container {
	display: flex;
	font-size: 20px;
	font-color: #001;
	text-align: center;
}



.jumbotron {
	background-color: #99004d;
	

}

.footer {
	background-color: #ff5c33;
	border-top: solid;
	border-color: #ffffb3;
	color: white;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
}